*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-position: center;
}

p{
    color: white;
}

h1{
    color: brown;
}

h2{
    color: aqua;
}