*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.cuerpo{
    position: absolute;
    top: 230px;
    left: 580px;
}
.boton{
    width: 130px;
    height: 30px;
    z-index: 2;
    position: relative;
    background-color: #ff9000;
    color: black;
    left: 70px;
  }
  .titulo{
    font-weight: bold;
    font-family: 'Times New Roman';
    text-align: center;
    font-size: 26px;
    color: white;
}