*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    color: white;
}
body{
    background-image: url(fondo.png);
    background-size: cover;
}

@keyframes resaltarM {
    0%   {top: 360px}
    50% {top: 340px}
    100% {top: 360px}
  }

  @keyframes resaltarT {
    0%   {top: 160}
    50% {top: 140px}
    100% {top: 160px}
  }

  @keyframes resaltarB {
    0%   {top: 580}
    50% {top: 560px}
    100% {top: 580px}
  }

.bMID{
    position: fixed;
    height: 40px;
    width: 40px;
    left: 950px;
    top: 360px;
    border-radius: 50%;
    background-image: url(icono_posicion.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0px;
    animation-name: resaltarM;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.bTOP{
    position: fixed;
    height: 40px;
    width: 40px;
    left: 690px;
    top: 160px;
    border-radius: 50%;
    background-image: url(icono_posicion.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0px;
    animation-name: resaltarT;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.bBOT{
    position: fixed;
    height: 40px;
    width: 40px;
    left: 1200px;
    top: 580px;
    border-radius: 50%;
    background-image: url(icono_posicion.png);
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: 0px;
    animation-name: resaltarB;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
}